.govTableDiv {
  width: 50vw;
  margin: 15px;
}

.LoginFailureWarning .govuk-warning-text__text{
  color: #d53880;
  padding-left: 0px;
}

.header {
  border-bottom: 2px solid #1d70b8;
}

.header-logo-title {
  display: flex;
  flex-direction: row;
  height: 10vh;
  align-items: center;
}

.header-logo-title img {
  height: 60%;
}

.header-logo-title p {
  margin: 0;
  margin-left: 5%
}

.header .LogoutButton {
  float: right;
  display: flex;
  align-items: center; 
  justify-content: center; 
  flex-direction: column;
  height: 10vh; 
}

.header .LogoutButton .govuk-button {
  margin: 0
}

.PhaseBanner {
  white-space: pre-wrap;
  background-color:#f3f2f1;
}

.CardHeader .govuk-heading-m {
  margin: 0px;
}

.CardHeader #accordion-with-summary-sections-summary-1 {
  margin-bottom: 15px;
}

.CardHeader {
  border-top: 1px solid	#b1b4b6;
  padding-top: 15px;
}

.govuk-accordion__section-heading strong{
  margin-left: 10px;
  background-color:	#f3f2f1;
  color: green;
}

.govuk-accordion__section-heading button{
  float: left;
}

.govuk-heading-m strong{
  margin-left: 10px;
  background-color:	#f3f2f1;
  color:	#626a6e;
}

.family-context-header {
  align-items: center;
}

.Warning .govuk-warning-text__text{
  color: #d53880;
}

.LoginPage {
  padding-top: 30px;
}

.LoginPage .govuk-button {
  margin-bottom: 0px;
}

.NavigationButtons button{
  background-color: #1d70b8;
  float: right;
}

.NavigationButtons a{
  margin: 0;
}

.NavigationButtons {
  padding-bottom: 30px;
}

.CaseIdSearch button,
.LoginPage button, 
.InfoSearch button {
  margin-top: 15px;
  background-color: #1d70b8 
}

.NavigationButtons button:hover,
.CaseIdSearch button:hover,
.LoginPage button:hover, 
.InfoSearch button:hover {
  background-color: #003078 
}

.SearchPage button:hover:disabled {
  background-color: #003078 
}

.CaseIdSearch .govuk-form-group {
  margin-top: 30px;
}

.InfoSearch .column {
  float: left;
  padding-right: 15px;
}

.InfoSearch .row {
  content: "";
  display: table;
  clear: both;
}

.ResultsPage .govuk-table__body .govuk-table__row:hover {
  background-color: #f3f2f1;
  cursor: pointer;
}

table {
  white-space: pre-wrap;
}

.ViewButton a {
  margin-bottom: 0px;
}

.ViewButton a:hover {
  background-color: #003078
}